@import "tailwindcss";

/* 하트 애니메이션 */
@keyframes heart-beat {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1);
  }
  45% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
  }
}

.animate-heart-beat {
  animation: heart-beat 0.6s ease-in-out;
}